<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="/assets/styles.css" type="text/css" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%include partials/nav.ejs%>
<h1>Welcome to this Amazing Website!</h1>
<p>OMG Isn't this amaazing</p>
  </body>
</html>
